*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: fff;
}

.login-box{
    max-width: 400px;
    width: 100%;
    background: linear-gradient(to right, #1e40af, #7c3aed);
    border-radius: 16px;
    padding: 32px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.4);
}

h2{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: white;
    margin-bottom: 10px;
}

.subtitle{
    text-align: center;
    color: #e5e7eb;
    margin-bottom: 32px;
    animation: appear 3s ease-out;
}

.field{
    position: relative;
    margin-bottom: 24px;
}

.field input{
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #d1d5db;
    color: #fff;
    font-size: 16px;
    outline: none;
}

.field label{
    position: absolute;
    left: 0;
    top: 10px;
    color: #d1d5db;
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s;
}

.field input:focus {
    border-bottom-color: #c084fc;
}

.field input:focus + label,
.field input:valid + label{
    top: -14px;
    font-size:13px;
    color: #c084fc;
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    font-size: 14px;
    color: #e5e7eb;
}

.options a{
    color: #ddd6fe;
    text-decoration: none;
}

.opptions a:hover{
    text-decoration: underline;
}

.opptions input{
    margin-right: 6px ;
}

button{
    width: 100%;
    padding: 10px;
    border: none;
    background: #6f34a7;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

botton:hover{
    background-color: #6c0cc0;
}

.signup{
    margin-top: 24px;
    text-align: center;
    color: #e5e7eb;
    font-size: 14px;
}

.signup a{
    color: #ddd6fe;
    text-decoration: none;
}

.signup a:hover{
    text-decoration: underline;
}